 <footer  class="navbar bottom navbar-light bg-light">
          <a href="/"><button class="btn btn-success">Copyright</button></a>
          <a href="/"><button class="btn btn-success">Privacy Policy</button></a>
          <a href="/"><button class="btn btn-success">Contact Us</button></a>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A consectetur hic ipsa harum, pariatur officia perspiciatis quis dignissimos beatae accusamus placeat ratione omnis architecto voluptatibus eligendi! Minus ab a quo.</p>
      </footer> 