 <footer  class="navbar bottom navbar-light bg-light">
          <a href="/copyright"><button id="copyrightBtn" class="btn">Copyright</button></a>
          <a href="/privacy"><button id="privacyPolicyBtn" class="btn">Privacy Policy</button></a>
          <a href="/contact"><button id="contactUsBtn" class="btn">Contact Us</button></a>
          <br>
          <div class="row card d-flex align-items-start mb-3">
                <div id='map' class="card-body col-3" style="width: 300px; height: 300px;"></div>
                <div class="col-9">
                  <p>“In climbing you are always faced with new problems in which you must perform using intuitive movements, and then later analyze them to figure out why they work, and then learn from them.” – Wolfgang Gullich</p>
            </div>
          </div>
         
</footer> 