 <footer  class="navbar bottom navbar-light bg-light">
          <a href="/"><button id="copyrightBtn" class="btn">Copyright</button></a>
          <a href="/"><button id="privacyPolicyBtn" class="btn">Privacy Policy</button></a>
          <a href="/"><button id="contactUsBtn" class="btn">Contact Us</button></a>
          <br>
          <p>“In climbing you are always faced with new problems in which you must perform using intuitive movements, and then later analyze them to figure out why they work, and then learn from them.” – Wolfgang Gullich</p>
      </footer> 