
<div>
{{!-- {{#if loggedIn}} --}}
 

{{!-- {{else}} --}}
<form id="login-form">
  <div class="login-wrap">
    <h6 class="form-title"> Login </h6>
    <div>
    <input type="text" id="email-login" placeholder="email"/>
  </div>
  <div>
    <input type="password" id="password-login" placeholder="password"/>
  </div>
  <div>
    <button id="login-btn" type="submit">login</button>
  </div>
  </div>
</form>
{{!-- {{/if}} --}}
</div>
{{!-- {{#if loggedIn}} --}}
  {{!-- <script src="/javascript/logout.js"></script> --}}
{{!-- {{else}} --}}
  <script src="/javascript/login.js"></script>
{{!-- {{/if}} --}}


{{!-- <script src="/javascript/login.js"></script> --}}
