
<div>
{{#if loggedIn}}
  <a href="/profile">profile</a>
  <button id="logout" class="btn-no-style">logout</button>
{{else}}
<div class ="container">
<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>
{{/if}}
</div>
{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
{{else}}
  <script src="/javascript/login.js"></script>
{{/if}}


{{!-- <script src="/javascript/login.js"></script> --}}