<link rel="stylesheet" href="./styles.css">

<div>
{{#if loggedIn}}
  <a href="/profile">profile</a>
  <button id="logout" class="btn-no-style">logout</button>
{{else}}
<form id="login-form">
  <div class="login-wrap">
    <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button id="login-btn" type="submit">login</button>
  </div>
  </div>
</form>
{{/if}}
</div>
{{!-- {{#if loggedIn}} --}}
  <script src="/javascript/logout.js"></script>
{{!-- {{else}} --}}
  <script src="/javascript/login.js"></script>
{{/if}}


<script src="/javascript/login.js"></script>
