
<div>
{{#if loggedIn}}
<div>Logged in</div>

{{else}}
<div class ="container">
<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>

{{/if}}
</div>

<script src="/javascript/login.js"></script>