<link rel="stylesheet" href="/styles.css">

<div class="container">
  <div class="row  p-4">
    <div id='map' class="card col" style="width: 800px; height: 800px;"></div>
  </div>
</div>

<script src="/javascript/map.js"></script>

