<nav class="navbar sticky-top navbar-light bg-light">
        <h3>Randonne</h3>
        <h6>Climb with friends!</h6>
          {{#if loggedIn}}
          <button id="logout" class="btn-no-style">logout</button>
            {{else}}
          <a href="/login">login</a>
          {{/if}}
          {{!-- <button data-tf-slider="m6Q8fgEI" data-tf-width="550" data-tf-iframe-props="title=Membership Application (copy)" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#0445AF;color:#FFFFFF;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Signup</button> --}}
      </nav>