<nav class="navbar sticky-top navbar-light bg-light">
        <h3>Randonne</h3>
        <h6>Climb with friends!</h6>
          {{#if loggedIn}}
          <a href="/logout"><button id="logout" class="btn-no-style">logout</button></a>
          
          {{else}}
          <div id="menu">
             <a href="/profile">Profile</a>
             <a href="/login">Login</a>
             <a href="/sign-up">Signup</a>
          {{/if}}

             <a href="/gear">Gear Checklist</a>
             <a href="/map">Map</a>
             <a href="/form">Find a partner!</a>
            </ul>
          </div>
          <a href="/gear">Gear Checklist</a>
          <button id="modal-open" href="../findFriends.handlebars">Find a partner!</button>  
      </nav>

{{!-- <ul class="navbar sticky-top navbar-light bg-light justify-content-end">
{{else}}
    <li class="nav-item">
    <a class="nav-link active" href="#">Profile</a>
  </li>
    <li class="nav-item">
    <a class="nav-link active" href="#">Login</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" href="#">Signup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Signup</a>
  </li>
  {{/if}}
  <li class="nav-item">
    <a class="nav-link" href="#">Gear Checklist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#form">Find a Partner!</a>
  </li>
</ul> --}}

<script src="./javascript/nav.js"></script>
<script src="./javascript/profile-page.js"></script>



      <script src="./javascript/profile-page.js"></script>
