<div>
{{#if loggedIn}}
<a href="/profile">profile</a>

{{else}}


<div class ="container">
<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn btn-success">signup</button>
  </div>
</form>
</div>
<br><br><br>
<script src="/public/javascript/signup.js"></script>
{{/if}}
</div>