


<div>
{{#if loggedIn}}
<a href="/profile">profile</a>

{{else}}


<form id="signup-form">
  <div class="signup-wrap">
    <h6 class="form-title"> Signup </h6>
        <div>
  <input type="text" id="username-signup" placeholder="username"/>
  </div>

    <div>
    <input type="text" id="email-signup" placeholder="email"/>
  </div>
  <div>
    <input type="password" id="password-signup" placeholder="password"/>
  </div>
  <div>
    <button id="signup-btn" type="submit">Signup</button>
  </div>
  </div>
</form>
{{!-- {{/if}} --}}
</div>

<br><br><br>
<script src="/javascript/signup.js"></script>
{{/if}}
{{!-- </div> --}}