
## Grading Requirements
This project is graded based on the following criteria:

### Technical Acceptance Criteria: 25%
Satisfies the following code requirements:

* Application uses a Node and Express back end and uses both GET and POST routes for retrieving and adding new data.

* Application has a folder structure that meets the MVC paradigm and uses Handlebars.js as the template engine.

* Application is backed by a MySQL database with a Sequelize ORM and protects API keys and sensitive information with environment variables.

* Application includes user authentication (express-session and cookies).

* Application uses at least one new library, package, or technology not covered in class.

### Concept 10%
 Application should be a unique and novel idea.

* Your ### Group should clearly and concisely articulate your project idea.

### Deployment: 20%
* Application deployed at live URL on Heroku and loads with no errors.

* Application GitHub URL submitted.

* Portfolio at live URL submitted, featuring project.

### Repository Quality: 10%
* Repository has a unique name.

* Repository follows best practices for file structure and naming conventions.

* Repository follows best practices for class/id naming conventions, indentation, quality comments, etc.

* Repository contains multiple descriptive commit messages.

* Repository contains a quality README file with description, screenshot, and link to deployed application.

### Application Quality: 15%
* Application user experience is intuitive and easy to navigate.

* Application user interface style is clean and polished.

* Application is responsive.

### Presentation 10%
* Your ### Group should present using Powerpoint or a similar presentation software.

* Every ### Group member should speak during the presentation.

* Your presentation should follow the Project Presentation Template (Links to an external site.).

### Collaboration 10%
* There are no major disparities in the number of GitHub contributions between ### Group members.
