<div class="contact">
    <h1>
        Contact
    </h1>
    <h2>We love hearing from you, if you have any suggestions on how we can improve, here are some ways you can get in contact.
    </h2>
    <div>
        <h3>
            Project Leads
        </h3>
        <p>
            Bridget Schaefer (Head of frontend engineering and project inspiration): <a href="https://youtu.be/dQw4w9WgXcQ">sheCodesBetterThanYou@randonee.com</a>
        </p>
        <p>
            Ben Chaplin (Head of cloud services and king of kamas): <a href="https://youtu.be/dQw4w9WgXcQ">hisHighness@lordship.com</a>
        </p>
        <p>
            Mitchell Brotherson (Head of navigation and bafoonery): <a href="https://youtu.be/dQw4w9WgXcQ">bigChimp@hesAnApe.com</a>
        </p>
    </div>
</div>