
 {{!-- <div id="question-modal" class="card"> --}}
  <div class="card" id="partnerBox">
    {{!-- <button type="button" id="modal-close">&times;</button> --}}
    <h2 class="card-subtitle">Answer these questions to find a climbing partner! </h2>
  

  <div class="form-group">
    <input id="name" type="text" class="form-control" placeholder="Name"/>
 
  <div class="form-group">
    <input
      id="photo"
      type="text"
      class="form-control"
      placeholder="Link to profile photo"/>
  </div>

  <div class="form-group">
    <label for="question1">I have a lot of climbing experience</label>
    <select class="form-control" id="question1">
      <option value="empty">I'm a newbie!</option>
      <option value="1">I climb a little bit</option>
      <option value="2">I've been climbing for a year or so</option>
      <option value="3">I've been climbing for a few years and know my stuff</option>
      <option value="4">I'm an expert</option>
    </select>
  </div>

  <div class="form-group">
    <label for="question2">I like to climb outdoors</label>
    <select class="form-control" id="question2">
      <option value="empty"></option>
      <option value="1">I'm new so I'd feel comfortable starting in the gym</option>
      <option value="2">I'm new but I'd like to start outdoors!</option>
      <option value="3">I climb hard in the gym</option>
      <option value="4">I climb hard outdoors</option>
    </select>
  </div>

  <div class="form-group">
    <label for="question3">I have my own climbing gear</label>
    <select class="form-control" id="question3">
      <option value="empty"></option>
      <option value="1">I don't have anything yet</option>
      <option value="2">I have the basics</option>
      <option value="3">I have the basics and a rope and some quickdraws</option>
      <option value="4">My gear bag is like a climbing store</option>
    </select>
  </div>

  <div class="form-group">
    <label for="question4">I like to climb to socialize</label>
    <select class="form-control" id="question4">
      <option value="empty"></option>
      <option value="1">I like to take it seriously</option>
      <option value="2">I like to take it seriously but I also like to socialize</option>
      <option value="3">I climb to meet people</option>
      <option value="4">It's all about having fun! </option>
    </select>
  </div>

  <div class="form-group">
    <label for="question5"></label>
    <select class="form-control" id="question5">
        <input class="climb-location" type="text" name="location" placeholder="Where do you want to climb?">
    </select>
  </div>

  <button id="profile-submit" class="btn btn-success">Submit!</button>

</div> 
</div>
</div>

<script src="/javascript/form.js"></script>
