
<div class="container">
    <h3>Gear Checklist</h3>
  <div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
        <img src="https://climbingtechtips.com/wp-content/uploads/2016/11/Climbing-Movement-Using-Chalk-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Climbing Gear Basics</h5>
                <p class="card-text">
                    <ul>
                        <li>Rope</li>
                        <li>Belay</li>
                        <li>Clips</li>
                        <li>Locking Carabiners</li>
                        <li>Quickdraws</li>
                        <li>Backpack</li>
                        <li>Carabiners</li>
                        <li>__________________</li>
                        <li>__________________</li>
                        <li>__________________</li>
                        
                    </ul>
                </p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
        </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://www.mountainskillsacademy.com/wp-content/uploads/2017/06/ShowImage.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Personal Gear</h5>
                <p class="card-text">
                    <ul>
                        <li>Shoes</li>
                        <li>Helmet</li>
                        <li>Harness</li>
                        <li>Other: _______________</li>
                        
                    </ul>
                </p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
        </div>
    </div>
    {{!-- <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://climbingtechtips.com/wp-content/uploads/2016/11/Climbing-Movement-Using-Chalk-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Personal items and other</h5>
                <p class="card-text">
                    <ul>
                        <li>Shoes</li>
                        <li>Helmet</li>
                        <li>Harness</li>
                        <li>Other: _______________</li>
                        
                    </ul>
                </p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
        </div>
    </div> --}}
    {{!-- <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://i1.wp.com/blacksheepadventuresports.com/wp-content/uploads/2018/10/RopesCover1-1-of-1.jpg?resize=1920%2C768&ssl=1" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    </div> --}}
  </div>
</div>



<br><br><br><br><br>