<div>
    <p class="about-text">
Welcome to Randonneé, our goal is to help climbers find each other. Whether you're trying to climb your first 5.9 or want to project a 5.14 we're here to pair you based on your climbing preferences. 
    </p>
</div>
<div>You are on the homepage</div>
