<div>
    <p class="about-text">
Welcome to Randonne, our goal is to help climbers find each other. Whether you're trying to climb your first 5.9 or want to project a 5.14 we are here to pair you based on your climbing preferences. 
    </p>
</div>