
<div class="form-group">
  <div class="form-group">
    <input id="name" type="text" class="form-control" placeholder="Name" />
  </div>
  <div class="form-group">
    <input
      id="photo"
      type="text"
      class="form-control"
      placeholder="Link to profile photo"/>
  </div>
  <div class="form-group">
    <label for="question1">I like to climb outdoors</label>
    <select class="form-control" id="question1">
      <option value="empty"></option>
      <option value="1"></option>
      <option value="2"></option>
      <option value="3"></option>
      <option value="4"></option>
    </select>
  </div>
  <div class="form-group">
    <label for="question1">I like to climb outdoors</label>
    <select class="form-control" id="question1">
      <option value="empty"></option>
      <option value="1">1 (Strongly disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4 (Strongly agree) </option>
    </select>
  </div>
  <div class="form-group">
    <label for="question1">I have my own climbing gear</label>
    <select class="form-control" id="question1">
      <option value="empty"></option>
      <option value="1">1 (Strongly disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4 (Strongly agree) </option>
    </select>
  </div>
  <div class="form-group">
    <label for="question1">I like to climb to socialize</label>
    <select class="form-control" id="question1">
      <option value="empty"></option>
      <option value="1">1 (Strongly disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4 (Strongly agree) </option>
    </select>
  </div>
  <div class="form-group">
    <label for="question1"></label>
    <select class="form-control" id="question1">
        <input class="climb-location" type="text" name="location" placeholder="Where do you want to climb?">
    </select>
  </div>

  <button id="profile-submit">Submit!</button>
</div>