<button data-tf-slider="m6Q8fgEI" data-tf-width="550" data-tf-iframe-props="title=Membership Application (copy)" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#0445AF;color:#FFFFFF;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Signup</button>

<div class = "container-wrap">
    <div class="form-wrap">
    <form id="signupQs">
        <span class="form-title">Tell us about your climbing!</span>
        <div class="wrap-input" data-validate="Please enter your preferred climbing location">
            <span class="label-input"> Location </span>
            <input class="area" type="text" name="location" placeholder="Enter your favorite location">
        </div>
          <div class="wrap-input" data-validate="Do you like climbing indoors or outdoors?">
            <span class="label-input"> Gym/outside </span>
            <input class="type" type="text" name="gym/outdoors" placeholder="Are you a gym or an outdoor climber?">
        </div>
    </form>
   </div>
</div>