    <section class = "hero">
        <img id="heroimg" src="./assets/images/cave2.png" alt="climber in Maple Canyon Cave">
        <h2 class="herotxt"> Better together</h2>
        <div class="hero-form">
        <form class="form-input">
          <label for="name">Enter Full name:</label>
          <input type="text" placeholder="Your Name" name="name" id="name" class="form-input">
          
          <label for="email">Enter Full Email:</label>
          <input type="email" placeholder="Email Address" name="email" id="email" class="form-input">
          
          <label for="phone">Enter Phone Number:</label>
          <input type="tel" placeholder="Phone number" name="phone" id="phone" class="form-input">
  <p>
      Have you rock climbed before?
    <span class="radio-wrapper">
      <input type="radio" name="climb-confirm" id="climb-yes" />
      <label for="climb-yes">Yes</label>
    </span>
    <span class="radio-wrapper">
      <input type="radio" name="climb-confirm" id="climb-no" />
      <label for="climb-no">No</label>
    </span>
  </p>
  <p>
    <span class="checkbox-wrapper">
      <label for="checkbox">
      I acknowledge that I am at least 18 years of age.
      </label>
      <input type="checkbox" name="age-confirm" id="checkbox" />
    </span>
    </p>
  <button type="submit"></button>
  </form>
</div>
    </section>