 <link rel="stylesheet" href="./styles.css">


<h2 class="score">Here are some partners we think you'd like!</h2>
<h3 class="score"> Your score is <span class="spanscore">10</span></h3>

<h3 class="score">Other profiles with this score</h3>

<div class="row">
  <div class="col-4">
    <div class="card mt-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src='https://get.investors.com/wp-content/uploads/2020/10/img-student-backpack.jpg' style="width: 150px; height: auto; margin-top:">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: plaindemon</li>
    <li class="list-group-item">Email: plain@demon.com</li>
    <li class="list-group-item">Location: slc</li>
    <li class="list-group-item">Experience: 2 years</li>
    <li class="list-group-item">Gear: I have enough gear to go outdoors</li>
  </ul>
 </div>
</div>
  <div class="col-4">
    <div class="card mt-5 mb-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src='https://cdn.mos.cms.futurecdn.net/eKoZprcsjivoEYc54KcAc5.jpg' style="width: 280px; height: auto; margin-top: 1%">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: climbingRocks</li>
    <li class="list-group-item">Email: jj2300@gmail.com </li>
    <li class="list-group-item">Location: American Fork</li>
    <li class="list-group-item">Experience: Very experienced </li>
    <li class="list-group-item">Gear: I have sport and trad gear</li>
  </ul>
 </div>
</div>
  <div class="col-4">
    <div class="card mt-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src='https://www.marinij.com/wp-content/uploads/2021/08/MIJ-L-CLIMBING-0821-01.jpg' style="width: 280px; height: auto; margin-top:">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: sarahclimbs</li>
    <li class="list-group-item">Email: sarahcollins@yahoo.com </li>
    <li class="list-group-item">Location: Sugarhouse </li>
    <li class="list-group-item">Experience: I have been climbing for four years</li>
    <li class="list-group-item">Gear: I have all the gear for indoors</li>
  </ul>
 </div>
</div>