.navbar {
    background-color: transparent;
}

ul {
    justify-content: left;
}

#heroimg {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 0px 50px 50px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: flex-start;
}

.herotxt {
    position: absolute;
}

.hero-form {
    border: 3px solid #465A3D;
    background-color: #fff;
    color: #465A3D;
    padding: 20px;
    width: 20%;
    position: absolute;
    border-radius: 5px;
    float: left;
    margin: 5%;
}

.form-input {
    display: block;
    font-size: 16px;
    color: #465A3D;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,0.75);

}

.hero-form button {
    color:#465A3D;
    Background-color: #fff;
    border: 2px, solid;
    padding: 10 px 20px;
    font-size: 16 px;
}

.login-wrap {
    display: flex;
    width: 25%;
    padding: 56px 37px 20px;
    border-radius: 20px;
    display: block;
    box-sizing: border-box;
    margin-right: 0;
    float: right;
    position: fixed;
    color: #465A3D;
    bottom: 50%;
    left: 65%;
    background-color: #fff; 
}

#login-btn {
    text-align: center;
    margin: 0 0 16px;
    box-sizing: border-box;
    margin-bottom: 0;
    border: #465A3D;
    border-radius: 5px;
    border: 1px solid;
    margin: 10px 10px 10px 10px;    
}

#question-modal {
    position: absolute;
    z-index: 1;
    left: 20%;
    top: 20%;
    height: 60%;
    width: 50%;
    overflow: auto;
    animation-name: modalopen;
    animation-duration: 3s;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    display: block;
}

.modal-body {
    background-color:#E7DFDD;
    margin: 20% auto;
    padding: 20px;
    width: 20%;
    animation-name: modalopen;
    animation-duration: 3s;
    padding: 20px;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-width: .5px;
}
#map {
    height: 100vw;
    width: 100vw;
}






