/* body {
    background-image: url("./images/topo.svg");
} */

.navbar {
  background-color: transparent;
  text-decoration: none;
}


a {
  justify-content: left;
  text-decoration: none;
  color: #465a3d;
  padding: 6px;
  flex: wrap;
}

#heroimg {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 0px 50px 50px;
  background-image: url("./images/topo.svg");

}

.hero {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  align-items: flex-start;
}

.herotxt {
  position: absolute;
}

#user-login {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: "Ubuntu", sans-serif;
  
}

#email-login {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

#password {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

#login-btn {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #465a3d, #86B049);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    display: flex;
    margin-left: 34%;
}

#signup-btn {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #465a3d, #86B049);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    display: flex;
    margin-left: 34%;
}

/* 
.login-wrap {
  display: flex;
  width: 25%;
  padding: 56px 37px 20px;
  border-radius: 20px;
  display: block;
  box-sizing: border-box;
  margin-right: 0;
  float: right;
  position: fixed;
  color: #465a3d;
  bottom: 50%;
  left: 65%;
  background-color: #fff;
} */

.login-wrap {
    background-color: #FFFFFF;
    width: 25%;
    height: 60%;
    margin: 7em auto;
    border-radius: .3em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    /* position: fixed; */
    /* bottom: 40%;
    left: 60%; */
    margin-right: 10%;
    float: right;
    color: #465a3d;
    position: absolute;
    right: 3%;
    bottom: 3%;
}

.form-title {
    padding-top: 40px;
    color: #86B049;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    flex-grow: inherit;
    margin-left: 38%;
}


#question-modal {
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 20%;
  height: 60%;
  width: 50%;
  overflow: auto;
  animation-name: modalopen;
  animation-duration: 3s;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  display: none;
}

.modal-body {
  background-color: #e7dfdd;
  margin: 20% auto;
  padding: 20px;
  width: 20%;
  animation-name: modalopen;
  animation-duration: 3s;
  padding: 20px;
  float: left;
  border-radius: 15px;
  border-style: solid;
  border-width: 0.5px;
}

.about-text {
    color: #ab8024;
    font-size: 30px;
    margin: 8%;
}

#title {
    color: #ab8024;
}



#map {
  height: 100vw;
  width: 100vw;
}

#partnerBox {
  padding: 25px;
}

#partnerBox .form-group{
  padding: 25px;
}

#card-box {
  background-color: #e7dfdd;
  margin: 20% auto;
  padding: 20px;
  width: 20%;
  /* float: left; */
  border-radius: 15px;
  border-style: solid;
  border-width: 0.5px;
}